---
import AuthLayout from '@/layouts/auth-layout.astro'
import Button from '@/components/ui/button.astro'
import Input from '@/components/ui/input.astro'
import Label from '@/components/ui/label.astro'
import ErrorMessage from '@/components/error-message.astro'
import Icon from 'astro-icon';
---

<AuthLayout title="Forgot Password">
  <div class="shadow-md rounded-xl w-[400px] px-8 py-16">
    <h1 class="text-center text-xl font-bold">Reset Password</h1>
    <form class="flex flex-col gap-8 mt-6" id="reset-pwd-for" method="POST">
      <div class="flex flex-col gap-2">
        <Label for="email">Email</Label>
        <Input
          type="email"
          name="email"
          id="email"
          required
          placeholder="johndoe@gmail.com"
        />
        <ErrorMessage id="error-msg" />
      </div>
      <div class="flex flex-col gap-2">
        <Label for="new_password">New Password</Label>
        <Input
          type="password"
          name="new_password"
          id="new_password"
          required
          minlength={8}
          placeholder="supersecret"
        />
      </div>
      <Button type="submit">
        <Icon name="tabler:loader" class="hidden w-5 h-5 mr-2 text-white animate-spin" />
        Reset Password
      </Button>
    </form>
  </div>
</AuthLayout>
<script>
  const form = document.getElementById('reset-pwd-for') as HTMLFormElement;
  const submitBtn =  document.querySelector('button[type="submit"]');
  const errorMsg = document.getElementById('error-msg') as HTMLDivElement;
  const BASE_URL = import.meta.env.PUBLIC_API;

  form?.addEventListener('submit', async (e) => {
    e.preventDefault()

    submitBtn.classList.add("disabled:cursor-not-allowed")
    submitBtn.disabled = true;
    submitBtn.querySelector("svg").classList.remove("hidden")

    const formData = new FormData(form)
    const email = formData.get('email')
    const new_password = formData.get('new_password')
    const body = { email, new_password }
    try {
      const res = await fetch(`${BASE_URL}/auth/reset-password`, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(body),
      })
      const data = await res.json()
      if (!res.ok) {
        errorMsg!.textContent = data.message
        return
      }
      window.location.href = '/login'
    } catch (err) {
      console.log(err)
      submitBtn.classList.remove("disabled:cursor-not-allowed")
      submitBtn.disabled = false;
      submitBtn.querySelector("svg").classList.add("hidden")
    }
  })
</script>








