---
import type { Post } from "@/types/post";
import { buttonVariants } from "@/components/ui/button.astro";
import Layout from "@/layouts/layout.astro";
import Card from "@/components/card.astro";
import { cn } from "@/lib/utils/merge-classes";

const BASE_URL = import.meta.env.PUBLIC_API;
const cookie = Astro.cookies.get("auth_token");

if (cookie?.value) {
  return Astro.redirect("/dashboard");
}

const posts: Post[] = await fetch(`${BASE_URL}/posts`)
  .then(async (response) => await response.json())
  .then((data) => {
    const posts = data.data;
    if (posts === "null") {
      return [];
    }

    return (posts as Post[]).slice(0, 3);
  })
  .catch((error) => {
    console.error(error);
    return [];
  });

// export const prerender = true;
---

<Layout title="Untitled UI">
  <div
    class="my-10 py-10 flex justify-center flex-col items-center max-w-2xl mx-auto"
  >
    <span class="text-primary-700 font-semibold">Our blog</span>
    <h1 class="text-4xl mt-4 mb-6 font-bold">Stories and interviews</h1>
    <p class="text-center text-gray-600 mb-6">
      Share your story, successes, and challenges with us. We want to hear from
      you!
    </p>
    <a href="/login" class={cn(buttonVariants({ variant: "primary" }))}>
      Get started
    </a>
  </div>

  <div class="bg-gray-50 px-28 py-10">
    <div class="flex items-center justify-between">
      <h2 class="text-xl font-semibold">Latest Writings</h2>
      <a href="/posts" class={cn(buttonVariants({ variant: "primary" }))}
        >View all posts</a
      >
    </div>
    <div class="blog-cards my-8 grid grid-cols-3 gap-8">
      {posts?.map((p) => <Card data={p} />)}
    </div>
  </div>
  <div></div>
</Layout>
