---
---
<div class="flex items-center justify-center min-h-screen">
  <h2 class="text-4xl font-bold">Logging out...</h2>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    localStorage.removeItem("token");
    localStorage.removeItem("user");
    location.href = "/";
  });
</script>