---
import Input from "@/components/ui/input.astro";
import Label from "@/components/ui/label.astro";
import Textarea from "@/components/ui/textarea.astro";
import NewPostLayout from "@/layouts/new-post-layout.astro";
---

<NewPostLayout title="Create a Post">
  <form method="POST" class="my-10">
    <div class="">
      <Label for="new-post-title" class="text-gray-400 mb-8">
        Title
      </Label>
      <Input
        type="text"
        name="title"
        placeholder="Your post title..."
        id="new-post-title"
        class="border-gray-100 focus:ring-gray-200"
      />
    </div>
    <div class="my-8">
      <Label for="new-post-content" class="text-gray-400">Content</Label>
      <Textarea
        id="new-post-content"
        name={"content"}
        placeholder="Write your post here..."
        class="mt-1 border-gray-100 min-h-[300px] focus:ring-gray-200"
      />
    </div>
  </form>
</NewPostLayout>
<script>
const submitPost = (draft = false) => {
  let title = (document.getElementById("new-post-title") as HTMLInputElement).value;
  let content = (document.getElementById("new-post-content") as HTMLInputElement).value;

  console.log({ title, content })
  fetch("http://localhost:5000/posts", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJVc2VySUQiOiJlZTAzYWU0Zi02ZTE0LTRkMmEtOGRiZC0xZGMyZjk4ZTE4ZTQiLCJleHAiOjE2OTYxMDc3OTAsImlhdCI6MTY5NTUwMjk5MH0.4EdVsO1VjYsQgwdtqGiapPLdUsFoKKMRNehSX4PrRN8"
    },
    body: JSON.stringify({ title, body: content, is_draft: draft }),
  })
    .then((response) => response.json())
    .then((data) => {
      console.log({serverResponse: data})
      // TODO: redirect to dashboard
      // window.location.href = "/";
    })
    .catch((error) => console.error(error));
};

const submitButton = (document.getElementById("submit-new-post-btn") as HTMLButtonElement);
submitButton.addEventListener("click", () => submitPost());

const submitAsDraft = (document.getElementById("submit-as-draft-btn") as HTMLButtonElement);
submitAsDraft.addEventListener("click", () => submitPost(true));
</script>