---
import Icon from "astro-icon";

import Logo from "@/components/logo.astro";
import Button from "@/components/ui/button.astro";
import UserDropdown from "@/components/user-dropdown.astro";
---

<header class="w-full bg-white/90 backdrop-blur-sm shadow sticky top-0 z-10">
  <div class="container flex justify-between items-center h-14 mx-auto">
    <div class="flex gap-16 items-center">
      <Logo />
      <nav class="">
        <ul class="flex gap-8">
          <li class="text-gray-500">
            <a href="/posts" class="flex items-center"> Home</a>
          </li>
          <li class="text-gray-500">
            <a href="/dashboard" class="flex items-center"> Dashboard</a>
          </li>
          <li class="text-gray-500">
            <a href="/dashboard/drafts" class="flex items-center"> Drafts</a>
          </li>
          <li class="text-gray-500">
            <a href="/dashboard/analytics" class="flex items-center">
              Analytics
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="flex gap-8">
      <a href="/post/new">
        <Button
          class="font-semibold shadow-sm shadow-primary-500/50 hover:shadow-primary-500/60"
          size="sm"
        >
          Write a post <Icon name="tabler:arrow-right" class="w-4 h-4 ml-2" />
        </Button>
      </a>
      <UserDropdown />
    </div>
  </div>
</header>
