---
import Logo from "./logo.astro";
import Icon from "astro-icon";
---

<footer class="bg-gray-800">
  <div class="container mx-auto px-20 py-32">
    <div class="flex justify-between items-center">
      <div class="self-end">
        <Logo color="text-white" />
      </div>
      <div class="flex items-center gap-4">
        <Icon name="octicon:mark-github-16" class="text-white w-8 h-8" />
        <Icon name="logos:discord-icon" class="w-8 h-8" />
        <Icon name="logos:twitter" class="w-8 h-8" />
        <Icon name="logos:youtube-icon" class="w-8 h-8" />
        <Icon name="ri:instagram-line" class="text-white w-8 h-8" />
      </div>
    </div>
    <hr class="bg-slate-50 my-8" />
    <div class="flex justify-between items-center">
      <p class="text-white">&copy; 2023 Untitled UI. All rights reserved</p>
      <div class="flex gap-4">
        <a href="#" class="text-white/50 hover:underline underline-offset-2">Terms</a>
        <a href="#" class="text-white/50 hover:underline underline-offset-2">Privacy</a>
        <a href="#" class="text-white/50 hover:underline underline-offset-2">Cookies</a>
      </div>
    </div>
  </div>
</footer>
