---
import { cn } from "@/lib/utils/merge-classes";
import { Button } from "./ui/button";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class={cn(
    "px-12 py-16 bg-gray-100 shadow-md rounded-xl flex justify-between",
    className
  )}
>
  <div>
    <p class="text-2xl mb-4 font-semibold">Start your 30-day free trial</p>
    <span class="text-gray-600"
      >Join over 4,000+ startups already growing with Untitled</span
    >
  </div>
  <div>
    <Button {...{variant: 'outline', className: 'bg-white mr-2'}}>
      Learn more
    </Button>
    <Button>Get Started</Button>
  </div>
</div>
