---
import { Icon } from "astro-icon";
import Logo from "./logo.astro";

import Button, { buttonVariants } from "@/components/ui/button.astro";
import { cn } from "../lib/utils/merge-classes";
---

<header class="w-full bg-white/90 backdrop-blur-sm shadow sticky top-0 z-10">
  <div class="container flex justify-between items-center h-14 mx-auto">
    <div class="flex-1 flex items-center">
      <Logo />
      <nav class="ml-10">
        <ul class="flex gap-8">
          <li class="text-lg text-gray-600"><a href="/posts">Posts</a></li>
          <li class="text-lg text-gray-600"><a href="/#">About</a></li>
        </ul>
      </nav>
    </div>
    <div class="flex gap-4">
      <a href="/login" class={cn(buttonVariants({variant: "link"}))}>
        Log in
      </a>
      <a href="/register">
        <Button
          class="font-semibold"
          variant="primary"
          size="sm"
        >
          Sign up
        </Button>
      </a>
    </div>
  </div>
</header>
