---
import { Icon } from "astro-icon";
import Logo from "./logo.astro";

import Button from "@/components/ui/button.astro";
---

<header class="w-full bg-white/50 backdrop-blur-md shadow">
  <div class="container flex justify-between items-center h-14 mx-auto">
    <div class="flex-1 flex items-center">
      <Logo />
      <nav class="ml-10">
        <ul class="flex gap-8">
          <li class="text-lg text-gray-600"><a href="/">Home</a></li>
          <li class="text-lg text-gray-600"><a href="/blog">Blog</a></li>
          <li class="text-lg text-gray-600"><a href="/about">About</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <a href="/post/new">
        <Button
          class="font-semibold shadow-lg shadow-primary-500/50 hover:shadow-primary-500/60"
          variant="primary"
          size="sm"
        >
          Write a post <Icon name="tabler:arrow-right" class="w-4 h-4 ml-2" />
        </Button>
      </a>
    </div>
  </div>
</header>
