---
import Logo from "./logo.astro";

import Button, { buttonVariants } from "@/components/ui/button.astro";
import { cn } from "@/lib/utils/merge-classes";

const cookie = Astro.cookies.get("auth_token");
console.log({ cookie: cookie?.value });
---

<header class="w-full bg-white/90 backdrop-blur-sm shadow sticky top-0 z-10">
  <div class="container flex justify-between items-center h-14 mx-auto">
    <!-- <div class="flex-1 flex items-center border border-red-500"> -->
    <Logo />
    <nav class="">
      <ul class="flex gap-8">
        <li class="text-base text-gray-600"><a href="/posts">Posts</a></li>
        <!-- <li class="text-base text-gray-600"><a href="/about">About</a></li> -->
      </ul>
    </nav>
    <!-- </div> -->
    {
      cookie?.value ? (
        <a href="/dashboard">
          <Button class="font-semibold" variant="primary" size="sm">
            Dashboard
          </Button>
        </a>
      ) : (
        <div class="flex gap-4">
          <a href="/login" class={cn(buttonVariants({ variant: "link" }))}>
            Log in
          </a>
          <a href="/register">
            <Button class="font-semibold" variant="primary" size="sm">
              Sign up
            </Button>
          </a>
        </div>
      )
    }
  </div>
</header>
