---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@/lib/utils/merge-classes";

export interface Props
  extends HTMLAttributes<"label"> {}

const { ...props } = Astro.props;
---

<label
  class={cn(
    "text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70",
    props.class
  )}
  {...props}
>
  <slot />
</label>
